:root {
  --text-color: #cccccc;
  --bg-color: #151515;
  --green-off: hsl(120, 45%, 25%);
  --green-on: hsl(120, 100%, 50%);
  --red-off: hsl(0, 45%, 25%);
  --red-on: hsl(0, 100%, 50%);
  --yellow-off: hsl(60, 45%, 25%);
  --yellow-on: hsl(60, 100%, 50%);
  --blue-off: hsl(225, 45%, 25%);
  --blue-on: hsl(225, 100%, 50%);
}

body {
  user-select: none;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(2, 150px);
  gap: 1rem;
  text-align: center;
  font-size: 100px;
}

.allow-click {
  cursor: pointer;
  &:hover {
    border: 3px solid white;
  }
}

.light {
  transition: background-color 300ms, box-shadow 300ms, border-color 100ms;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 1rem;
  &.on {
    transition: background-color 80ms, box-shadow 80ms, border-color 100ms;
  }
}

.green {
  background-color: var(--green-off);
  &.on {
    background-color: var(--green-on);
    box-shadow: 0 0 25px var(--green-on);
  }
}
.red {
  background-color: var(--red-off);
  &.on {
    background-color: var(--red-on);
    box-shadow: 0 0 25px var(--red-on);
  }
}
.yellow {
  background-color: var(--yellow-off);
  &.on {
    background-color: var(--yellow-on);
    box-shadow: 0 0 25px var(--yellow-on);
  }
}
.blue {
  background-color: var(--blue-off);
  &.on {
    background-color: var(--blue-on);
    box-shadow: 0 0 25px var(--blue-on);
  }
}
